@model List<TechJobsPersistent.Models.Employer>

@foreach (Employer employer in Model)
{
    <h1>Employer: @employer.Name</h1>

    <div>
        <p>Name: @employer.Name</p>
        <p>Location: @employer.Location</p>
    </div>
}

